<div class="container-fluid">
  

<h1>My Quotes</h1>

  <div *ngFor="let quote of quotes; let i='index' ">
    <ul>

    <li>Quote:{{quote.quote}}</li>

    <button class="btn btn-outline-primary" (click)="toggleDetails(i)">Details</button>

    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteGoal($event,i)' (vote)='upVote($event,position)' (downVote)='downVote($event,position)'>
    </app-quote-details>

    
  </ul>
  </div>
  <div class="container">
      <div class="row">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>

    </div>
  </div>