<div class="container-fluid">
  <div class="row">
    <form #goalForm='ngForm'>


      <div class="form-group">
        <label for="quote">Quote:</label>
        <textarea  required class="form-control" id="quote" cols="20" rows="10" [(ngModel)]="newQuote.quote" name="quote" #quoteref="ngModel"required></textarea> 
        
         
      </div>
      

      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author">
       
      </div>

      <div class="form-group">
        <label for="publisher">Posted By:</label>
        <input type="text" required class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher" #publisher="ngModel">
      </div>

      <div class="form-group">
        <label for="actualDate">Date Posted:</label>
        <input type="date" required class="form-control" id="date" [(ngModel)]="newQuote.actualDate" name="actualdate" #actualDate="ngModel" required >
      </div>

      <button type="submit" class="btn btn-outline-success btn-lg">Add Quote</button>

    </form>
  </div>
</div>